@charset "UTF-8";
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --primary-color: #212121;
  --active-color: #2196f3;
  --html-color: #f5f5f5;
  --blue-color-logo: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --description-text-color: #757575;
  --borders-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --card-color: #f5f4fa;
  --blue-activ-logo: #188ce8;
  --border-card: #eeeeee;
  --icon-notactive: #afb1b8;
  --container-pading: 94px;
  --header-indents: 50px;
  --indentation: 30px;
  --description-indentation: 10px;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: var(--html-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.second-title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--header-indents);
}

.third-title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--description-indentation);
}

ul {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo__text--blue {
  color: var(--blue-color-logo);
}
.logo__text--black {
  color: var(--color-black);
}
.logo__text--white {
  color: var(--color-white);
}

.btn-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--transition-time) var(--transition-function);
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus {
  fill: var(--blue-activ-logo);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--description-indentation);
}
.form-field__title {
  font-size: 12px;
  line-height: 0.8571428571;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--description-text-color);
}
.form-field__input {
  width: 100%;
  height: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  transition: border-color var(--transition-time) var(--transition-function);
}
.form-field__control {
  position: relative;
}
.form-field__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill var(--transition-time) var(--transition-function);
}
.form-field__control:hover .form-field__input, .form-field__control:focus .form-field__input {
  border-color: var(--active-color);
}
.form-field__control:hover .form-field__icon, .form-field__control:focus .form-field__icon {
  fill: var(--active-color);
}

.form-consent {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-consent__check {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  fill: white;
}
.form-consent__checkbox:checked + .form-consent__check {
  border-color: transparent;
  background-color: var(--blue-color-logo);
}
.form-consent__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.5833333333;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
.form-consent__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--blue-color-logo);
}
.form-consent__btn {
  width: 200px;
  height: 50px;
  background-color: var(--active-color);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5333333333;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition: box-shadow var(--transition-time) var(--transition-function);
}
.form-consent__btn:hover, .form-consent__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  width: 528px;
  /* height: 581px; */
  top: 50%;
  left: 50%;
  padding: 40px;
  background: white;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--transition-function);
}

.registration-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.8695652174;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-color);
}

.registration-form__comment {
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--transition-time) var(--transition-function);
}
.registration-form__comment:hover, .registration-form__comment:focus {
  border: 1px solid var(--active-color);
}
.registration-form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 0.8571428571;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.registration-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 0.8571428571;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.registration-form__comment::placeholder {
  font-size: 12px;
  line-height: 0.8571428571;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration-form__textarea {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__text {
  transition: color var(--transition-time) var(--transition-function);
}
.address__text--white {
  color: var(--color-white);
}
.address__text--gray {
  color: rgba(255, 255, 255, 0.6);
}
.address__text:hover, .address__text:focus {
  color: var(--active-color);
}

.form-subscription {
  margin-left: auto;
}
.form-subscription__subscription {
  display: flex;
}
.form-subscription__input-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: var(--borders-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-subscription__input-email::-moz-placeholder {
  font-size: 16px;
  line-height: 0.8;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.form-subscription__input-email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 0.8;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.form-subscription__input-email, .form-subscription__input-email::placeholder {
  font-size: 16px;
  line-height: 0.8;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.form-subscription__icon-send {
  margin-left: var(--description-indentation);
  fill: white;
}

.portfolio-card__link {
  display: block;
  transition: box-shadow var(--transition-time) var(--transition-function);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__box {
  position: relative;
  overflow: hidden;
}

.portfolio-card__description {
  position: absolute;
  bottom: 0;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--transition-function);
}
.portfolio-card__link:hover .portfolio-card__description, .portfolio-card__link:focus .portfolio-card__description {
  transform: translateY(0);
}

.portfolio-card__img {
  display: block;
}

.portfolio-card__desc {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}
.portfolio-card__desc-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}
.portfolio-card__desc-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.card-team {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.card-team__img {
  display: block;
}
.card-team__performance {
  padding-top: var(--indentation);
}
.card-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--description-indentation);
}
.card-team__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social__list {
  width: 44px;
  height: 44px;
}
.social__list:not(:last-child) {
  margin-right: var(--description-indentation);
}
.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
  fill: var(--icon-notactive);
  transition: background-color var(--transition-time) var(--transition-function), fill var(--transition-time) var(--transition-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--blue-color-logo);
}
.social__link:hover .icon, .social__link:focus .icon {
  fill: var(--color-white);
}

/* Header 
__________________ */
.header {
  background: var(--color-white);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 92px;
}
.header__nav-list {
  display: flex;
}
.header__contacts-list {
  display: flex;
  margin-left: auto;
}
.header__nav-item:not(:last-child) {
  margin-right: var(--header-indents);
}
.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: inherit;
  display: block;
  padding-top: 32px;
  transition: color var(--transition-time) var(--transition-function);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--active-color);
}
.header__nav-link--activ {
  color: var(--active-color);
}
.header__nav-link--activ::after {
  content: "";
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
}
.header__contacts-item:not(:last-child) {
  margin-right: var(--header-indents);
}
.header__contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  fill: var(--description-text-color);
  transition: color var(--transition-time) var(--transition-function), fill var(--transition-time) var(--transition-function);
  align-items: center;
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}
.header__contacts-icon {
  margin-right: var(--description-indentation);
}
.header__portfolio {
  border-bottom: 1px solid #ececec;
}

/* Hero  */
.hero {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero.jpg");
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__titel {
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--blue-color-logo);
  transition: background-color var(--transition-time) var(--transition-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--blue-activ-logo);
}

/* Features  */
.features__container {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}

.feauters__list {
  display: flex;
}

.feauters__item:not(:last-child) {
  margin-right: var(--indentation);
}

.feauters__svg {
  display: block;
}

.feauters__icon {
  background-color: var(--card-color);
  border-radius: 4px;
  margin-bottom: var(--indentation);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* Section activity  */
.activity__container {
  padding-bottom: var(--container-pading);
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__box {
  position: relative;
  display: flex;
}

.activity__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

/* Section team */
.team {
  background-color: var(--card-color);
}
.team__container {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}
.team__list {
  display: flex;
}
.team__item:not(:last-child) {
  margin-right: var(--indentation);
}

/* section regular-customers */
.customers {
  padding: var(--container-pading) 0;
}
.customers__list {
  display: flex;
}
.customers__item {
  width: 170px;
  height: 92px;
}
.customers__item:not(:last-child) {
  margin-right: var(--indentation);
}
.customers__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition-time) var(--transition-function), fill var(--transition-time) var(--transition-function);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--blue-color-logo);
}
.customers__icon {
  fill: var(--icon-notactive);
  transition: fill var(--transition-time) var(--transition-function);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--blue-color-logo);
}

/* Footer */
.footer {
  background-color: var(--borders-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer__social {
  margin-left: 70px;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__social-link {
  background-color: inherit;
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--transition-function);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--blue-color-logo);
}
.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 13px 28px;
  width: 200px;
  height: 50px;
  background-color: var(--active-color);
}

/* ------------------ */
/* portfolio.html
section Портфоліо */
.portfolio {
  padding-top: var(--container-pading);
  padding-bottom: var(--container-pading);
}
.portfolio__button-lict {
  margin-bottom: var(--header-indents);
  display: flex;
  justify-content: center;
}
.portfolio__buttom-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--card-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-time) var(--transition-function), background-color var(--transition-time) var(--transition-function), box-shadow var(--transition-time) var(--transition-function);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--active-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list__portfolio-card {
  margin: 15px;
}

/* backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}/*# sourceMappingURL=main.css.map */