:root {
  --primary-color: #212121;
  --active-color: #2196f3;
  --html-color: #f5f5f5;
  --blue-color-logo: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --description-text-color: #757575;
  --borders-color: #2f303a;
  --hero-bg-color: #c4c4c4;

  --card-color: #f5f4fa;
  --blue-activ-logo: #188ce8;

  --border-card: #eeeeee;

  --icon-notactive: #afb1b8;

  --container-pading: 94px;
  --header-indents: 50px;
  --indentation: 30px;
  --description-indentation: 10px;

  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
