/* Section activity  */
.activity__container {
  padding-bottom: var(--container-pading);
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__box {
  position: relative;
  display: flex;
}

.activity__title {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
}
