/* section regular-customers */
.customers {
  padding-top: var(--container-pading-mobile);
  padding-bottom: var(--container-pading-mobile);

  @media (min-width: 1200px) {
    padding-top: var(--container-pading);
    padding-bottom: var(--container-pading);
  }

  &__title {
    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: var(33 / 28);
      margin-bottom: var(--indentation);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
  }

  &__item {
    height: 92px;

    width: calc((100% - 30px) / 2);

    @media (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }

    @media (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: #afb1b8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    transition: border-color var(--transition-time) var(--transition-function),
      fill var(--transition-time) var(--transition-function);

    &:hover,
    &:focus {
      border-color: var(--blue-color-logo);
    }
  }

  &__icon {
    fill: var(--icon-notactive);
    transition: fill var(--transition-time) var(--transition-function);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--blue-color-logo);
  }
}
