/* Features  */
.features__container {
  padding-top: var(--container-pading-mobile);
  padding-bottom: var(--container-pading-mobile);

  @media (min-width: 1200px) {
    padding-top: var(--container-pading);
    padding-bottom: var(--container-pading);
  }
}

.feauters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.feauters__item {
  width: 100%;

  @media (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.feauters__svg {
  display: block;
}

.feauters__icon {
  background-color: var(--card-color);
  border-radius: 4px;
  margin-bottom: var(--indentation);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__title {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.features__description {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
