.form-consent {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__check {
    width: 16px;
    height: 15px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--primary-color);
    border-radius: 2px;
    fill: white;
  }

  &__checkbox:checked + &__check {
    border-color: transparent;
    background-color: var(--blue-color-logo);
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14 / 24);
    margin: 0;

    letter-spacing: 0.03em;

    color: var(--description-text-color);
  }

  &__link {
    text-decoration-line: underline;
    color: var(--blue-color-logo);
  }

  &__btn {
    width: 200px;
    height: 50px;

    background-color: var(--active-color);
    border-radius: 4px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(16 / 30);

    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
    transition: box-shadow var(--transition-time) var(--transition-function);

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
