.form-subscription {
  margin-left: auto;

  &__subscription {
    display: flex;
  }

  &__input-email {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;

    background-color: var(--borders-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  &__input-email,
  &__input-email::placeholder {
    font-size: 16px;
    line-height: calc(16 / 20);

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    outline: none;
  }

  &__icon-send {
    margin-left: var(--description-indentation);
    fill: white;
  }
}
