/* Hero  */
.hero {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/hero.jpg");

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  &__titel {
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 32px;
    background-color: var(--blue-color-logo);

    transition: background-color var(--transition-time)
      var(--transition-function);

    &:hover,
    &:focus {
      background-color: var(--blue-activ-logo);
    }
  }
}
