.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  &__text--blue {
    color: var(--blue-color-logo);
  }

  &__text--black {
    color: var(--color-black);
  }

  &__text--white {
    color: var(--color-white);
  }
}
