html {
  background-color: var(--html-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.second-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--header-indents);
}

.third-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: var(--description-indentation);
}
